<div class="container mt-2 p2 shadow">
    <h1 class="title">Movies</h1>
 
    <table id="movies" class="table table-hover table-responsive">
    <thead class="center">
        <tr>
        <th>Title</th>
        <th>Release</th>
        </tr>
    </thead>
    <tbody class="center">
        <% @movies.each do |movie| %>
        <tr>
            <td><%= movie.title %></td>
            <td><%= movie.release_date %></td>
        </tr>
        <% end %>
    </tbody>
    </table>    
</div>